#login{
  background-image:linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url('/img/background.jpg');
  background-position:center;
  background-size:cover;
  background-repeat:no-repeat;
  background-attachment:fixed;
  height:100%;
}
#login .card{
  background:rgba(0,0,0,0.75);
  color:#eee;
}
#login .input-container input[type]{
  border-bottom:solid 2px #ccc;
  color:#eee;
}
#login label{
  color:#eee;
}
#scoreboard{
  background:#010126;
  position:fixed;
  bottom:0;
}
#scoreboard .col{
  padding:8px;
  color:#fff;
}
#scoreboard h2,
#scoreboard h1{
  margin:4px 0;
  text-align:center;
}
#scoreboard .col{
  padding:2px;
}
#stats{
  max-width:300px;
}
#display video{
  width:100%;
  height:852px;
  object-fit:fill;
  transition:.3s;
}
.score{
  padding:2px 8px;
  background-image:linear-gradient(#0a0a0a 49%,#000 50%);
  border-radius:2px;
  color:#fff;
  text-align:center;

  font-size:43px;
 }
 .score h1{
   margin:0;
 }
img.logo{
  width:80px;
  border-radius:2px;
}
#clock{
  background-image:linear-gradient(to bottom right,#111 49%,#000 50%);
  padding:8px 16px;
  border-radius:40px;
  color:#fff;
  font-size:40px;
  text-align:center;
}
#control h1{
  color:#fff;
}
.number-box > input[type='number']{
  width:50px;
  padding:11px 2px;
  font-size:14px;
  border:none !important;
  background:#eee;
  box-shadow:0 3px 5px rgba(0,0,0,0.5);
  border-radius: 2px 0 0 2px;
}
.number-box select{
  padding:10px 2px;
  font-size:14px;
  border:none !important;
  background:#eee;
  box-shadow:0 3px 5px rgba(0,0,0,0.5);
  text-transform:uppercase;
}
.number-box button{
  border-radius: 0 2px 2px 0;
}
#displayPreview{
  padding:0;
  border-radius:2px;
  border:solid 4px #fff;
  box-shadow:0 3px 5px rgba(0,0,0,0.5);
}
.lineup{
  min-height:300px;
  border:dashed 2px green;
}
#displayPreview .display{
  border:dashed 3px red;
}
#displayPreview .scoreDisplay{
  border:dashed 2px blue;
  min-height:120px;
}
.kph{
  margin-top:15px;
  padding:25px;
  background-image:radial-gradient(#000,#111);
  font-size:50px;
  text-align:center;
  border-radius:50%;
  border:solid red;
}
.kph span{
  position:absolute;
  display:block;
  font-size:20px;
  margin-top:-10px;
  left:50px
}
.number-box ~ h1{
  margin:0 !important;
}
.bg-d-1{
  background:#111;
}
.bg-d-2{
  background:#0a0a0a;
}
.bg-d-3{
  background:#000;
}
#display.fullscreen{
  position:absolute;
  top:0;
  left:0;
  z-index:999;
  width:100%;
  height:100%;
}
#display.fullscreen video{
  height:100%;
}
footer{
  padding:8px;
  border-radius:2px;
  box-shadow:0 0 15px 5px #000;
  color:#aaa;
  background:#000;
  position:fixed;
  bottom:0;
  opacity:.1;
}
footer:hover{
  opacity:1;
}
.showInDisplay{
  color:#fff;
  text-transform:uppercase;
}
nav{
  background:#000;
}
#menuButton i{
  font-size:30px;
}
.add-video, .add-folder{
  color:#eee;
  position:absolute;
  top:0;
  background:rgba(0,0,0,.9);
  transform:translateY(-100%);
}
.add-video.active, .add-folder.active{
  transform:translate(0);
}
#lineupLocal, #lineupVisitante{
  color:#eee;
  font-size:21px;
}
#lineupLocal h1, #lineupVisitante h1{
  text-transform:uppercase;
}
#lineupLocal{
  background-image:linear-gradient(to bottom right, #040404 49.9%,#000 50%)
}
#lineupVisitante{
  background-image:linear-gradient(to bottom left, #040404 49.9%,#000 50%)
}
.input-container select{
  padding:8px;
  font-size:16px;
  border-radius:2px;
  text-transform:uppercase;
 }
.lists{
  margin-top:8px;
  background:#000;
  border-radius:2px;
}
.lists a{
  display:block;
  color:#eee;
  padding:8px;
  text-transform:uppercase;
  text-decoration:none;
}
.imgList, .vidList{
  width:100%;
  border:solid 2px #cc3;
  border-radius:2px;
  box-shadow:0 3px 3px rgba(0,0,0,.5);
}
.playContent{
  overflow:hidden;
}
.playContent:hover > .play-display{
  transform:translate(0);
}
.playContent .play-display{
  cursor:pointer;
  padding:8px;
  background:rgba(0,0,0,.7);
  position:absolute;
  top:0;
  color:#eee;
  transform:translateY(-100%);
}
